{% extends "base.html" %}

{% block content %}

  {% for p in posts %}
  {% if user.name==p.user.name %}
  <br><br>
    <a href='blog/edit/{{p.key().id()}}'>Edit</a>
   <form action='blog/delete/{{p.key().id()}}' method='POST'>
    
    <input type="submit" value="delete">
   </form>
   {% endif %} 
  
    {{ p.render() | safe }}
    <br><br>
	<div class="post-comments">
			<h3 class="comment-title">Comments</h3>

			{% for c in p.comments %}

			<div class="comments">
				<p class="comment-content">{{c.comment}}</p>
				
			</div>
			{% endfor %}

			<a href="/blog/newcomment/{{p.key().id()}}" >add new comment</a>

	
  {% endfor %}
<a href='blog/newpost'>New Post</a>
{% endblock %}
